<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="spice_sample_pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <spice_sample_pos.Properties.Settings>
            <setting name="TransactionState" serializeAs="String">
                <value />
            </setting>
            <setting name="TransactionComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentPosRefId" serializeAs="String">
                <value />
            </setting>
        </spice_sample_pos.Properties.Settings>
    </userSettings>
</configuration>
